body{
    box-sizing: content-box;
    background: linear-gradient(to bottom, #393B57, #393B57);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main--container{
    position: relative;
}
.card--search--container{
    position: absolute;
    top: 100px;  
    left: 50%; 
    transform: translateX(-50%);
    z-index: 9;
    visibility: hidden;
    animation: appear 0s 1.5s forwards;
}
@keyframes appear {
    to{ visibility: visible; }
}
h1,h3,h4{
    line-height: 0.1;
}
.temp {
    font-family: "Quicksand", sans-serif;
    font-size: 60px;
}
.extra--weather{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.humidity{
    margin-right: 10px;
}
.favourite--places{
    margin-top: 100px;
    display: flex;
    width:770px;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    visibility: hidden;
    animation: appear 0s 1.5s forwards;
}
.search--box{
    width:300px;
    height: 25px;
    border: 1px whitesmoke solid;
    border-radius: 5px;
    background-image: url(./images/search_icon.png);
    background-size: 20px;
    background-position: center left;
    background-position-x: 5px;
    background-repeat: no-repeat;
    text-indent: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blur{
    animation: myOpacity;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 1.5s;
}
@keyframes myOpacity{
    100%{opacity: 0;}
   }
.cant--find {
    position: absolute;
    width:300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 300px;
    text-align: center;
}
.n{
    border:5px green solid;
}
.card--search--feature{
    position: relative;
}
.favourite--icon{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}